
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  width: 100%;
  background: #1D1D1D;
}

header {
  width: 100%;
}

header .navbar-item {
  transition: all 0.3s ease-out;
}

header .navbar-item:hover {
  color: #D9EC00;
} 

footer {
  width: 100%;
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: #ec8e00;
}

.overflow-hidden {
  overflow: hidden;
}

.shopBlock2 {
  max-width: 80%;
}

.radioCheckboxWrapper {
  max-width: 85%;
}

.language-menu .btn {
  padding: 5px;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.language-menu {
  z-index: 1000;
}

.language-menu .btn:focus + .language-content {
  display: block;
}

 .language-content a:hover {
  color:rgb(255, 208, 0);
}

.language-content a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.language-content li {
  width: 100%;
}

.language-content {
  display: none;
  position: absolute;
  background-color: rgb(202, 196, 196);
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.language-menu span {
  margin-right: 10px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}

.sliderButtonContainer{
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}

.shopContainer:hover .hide{
  display: block;
  opacity: 1;
}

.hide {
  display: none;
  animation-name: shop;
  animation-duration: 1s;
}

@keyframes shop {
  from {opacity: .4}
  to {opacity: 1}
}

.sliderButton {
  padding: 10px;
  border-radius: 50%;
  background-color:#C4C4C4;
  border: none;
}

.notShow {
  display: none;
}

.current {
  display: block;
}

.fade {
  width: 100%;
  animation-name: fade;
  animation-duration: 1.5s;
  z-index: 100;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.container-fluid {
  width: 100%;
  overflow-x:hidden;
}

.wrapper {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  overflow-x:auto;
}

.scale {
  display: inline-block;
  overflow: hidden;
  
}

.scale img {
  display: block;
  transition: 0.6s;
}

.scale img:hover {
  transform: scale(1.1);
 }

.shopBtn {
  transition: all 0.3s ease-in-out;
}

.hide-shop-btn {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.hide-shop-btn.showBtn{
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.grid-item1 {
  grid-column: span 2;
}

.grid-item2 {
  grid-column: span 1;
}

.grid-item3 {
  grid-column: span 1;
}

.grid-item4 {
  grid-column: span 1;
}

.grid-item5 {
  grid-column: span 1;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

form button {
  border: 1px solid #000000;
}

label {
  display: block;
}

footer input {
  padding: 10px 0;
}

footer input::placeholder {
  color: #000000;
}

.footer-small li a {
  font-size: 26px;
}

.flex-Block-Wrapper {
  margin-bottom: 50px;
}

input {
  width: 100%;
  outline: none;
}

input::placeholder {
  color: #fff;
}

.input-small {
  padding: 16px 34px;
  border: 1px solid #C4C4C4;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-family: 'Inter';
}

.input-small::placeholder {
  font-size: 16px;
}

textarea {
  width: 100%;
  padding: 10px 15px;
  outline: none;
  resize: none;
}

textarea::placeholder {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Inter';
}

input[type=email] {
  background-color: transparent;
}

input::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-family: 'Inter';
 }

 .banner-wrapper {
   padding: 50px 0;
 }

 .logoIcon {
   width: 70px;
 }

 .searchIcon {
   width: 23px;
   border: none;
   background-color: transparent;
 }

.logo {
  display: block;
  width: 105px;
}

img {
  width: 100%;
  object-fit: cover;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-block{
  display:inline-block;
}

.d-none {
  display: none;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2,50%);
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.ai-center {
  align-items: center;
}

.ai-baseline {
  align-items: baseline;
}

.ai-stretch {
  align-items: stretch;
}

.ai-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.align-flex-end {
  align-items: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.b-0 {
  bottom: 0;
}

.lg-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.3333333333%;
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%; }
.lg-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.6666666667%;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }
.lg-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }
  
.lg-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333333333%;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.lg-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.6666666667%;
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%; }

.lg-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.lg-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.3333333333%;
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%; }

.lg-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.6666666667%;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }

.lg-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.lg-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.3333333333%;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%; }

.lg-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.6666666667%;
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%; }
  
.lg-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

a {
  text-decoration: none;
}

.navbar-section {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  transition: all .3s ease-in-out;
}

.dropdown a {
  transition: all .3s ease-in-out;
}

.dropdown a:hover{
  color: rgb(255, 208, 0);
}

.dropdown-content {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 10px;
  transition: all .3s ease-in-out;
  visibility: hidden;
  z-index: 2000;
}

.dropdown-content a {
  display: block;
  padding: 10px 25px;
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Space Grotesk';
}

.dropdown-content li {
  margin-right: 0;
}

.dropdown-icon {
  width: 10px;
}

.dropdown .text-link {
  font-size: 20px;
  padding: 5px;
}

.hiddenMenuBtn {
  width: 35px;
  padding: 3px;
  border: none;
  background-color: transparent;
}

.mobile-nav-content {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 25px 10px;
  background: #060606;
  background-image: url('img/group14.png');
  background-position: center;
  transition: all 0.3s ease-in-out;
  z-index: 1001;
}

.mobile-nav-content a {
  display: inline-block;
}

.mobile-nav-content.translateLeft {
  left: 0;
}

.mobile-nav-content.close {
  display: none;
}

.search-nav-content {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  padding: 25px 10px;
  background-color: #060606;
  background-image: url('img/group14.png');
  background-position: center;
  transition: all 0.3s ease-in-out;
  z-index: 1001;
}

.search-nav-content input {
  padding: 15px 10px;
  border: 1px solid #CFCFCF;
  background-color: #000000;
  color: #D9EC00;
  font-size: 16px;
  font-weight: 300;
}

.search-nav-content input::placeholder {
  text-align: center;
  left:50%;
  color: #D9EC00;
}

.search-nav-content.translateRight {
  right: 0;
}

.search-nav-content.close {
  display: none;
}

.mobile-nav-content .link-item {
  transition: all .3s ease-in-out;
}

.mobile-nav-content .link-item:hover {
  color: #D9EC00;
}

.contactWrapper {
  padding: 195px 0 197px 0;
  background-image: url('img/group14.png');
  background-position: center;
}

.navbar-section li {
  margin-right: 30px;
  list-style: none;
}

header .dropdown li {
  margin-right: 0;
}

.navbar-section li:last-child {
  margin-right: 0;
}

.list-group-item {
  list-style: none;
}

.item {
  display: inline-block;
}

.navbar-item {
  display: inline-block;
  padding: 5px;
  color: #ffffff;
  font-size: 20px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-5 {
  padding-left: 25px;
  padding-right: 25px;
}

.px-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-7 {
  padding-left: 35px;
  padding-right: 35px;
}

.px-8 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-9 {
  padding-left: 45px;
  padding-right: 45px;
}

.px-10 {
  padding-left: 50px;
  padding-right: 50px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.pr-6 {
  padding-right: 30px;
}

.pr-7 {
  padding-right: 35px;
}

.pr-8 {
  padding-right: 40px;
}

.pr-9 {
  padding-right: 45px;
}

.pr-10 {
  padding-right: 50px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.pl-6 {
  padding-left: 30px;
}

.pl-7 {
  padding-left: 35px;
}

.pl-8 {
  padding-left: 40px;
}

.pl-9 {
  padding-left: 45px;
}

.pl-10 {
  padding-left: 45px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.pb-6 {
  padding-bottom: 30px;
}

.pb-7 {
  padding-bottom: 35px;
}

.pb-8 {
  padding-bottom: 40px;
}

.pb-9 {
  padding-bottom: 45px;
}

.pb-10 {
  padding-bottom: 50px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pt-6 {
  padding-top: 30px;
}

.pt-8 {
  padding-top: 40px;
}

.pt-9 {
  padding-top: 45px;
}

.pt-10 {
  padding-top: 50px;
}

.py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-7 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py-8 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-9 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.py-10 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-none {
  margin: 0;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-7 {
  margin-top: 35px;
}

.mt-9 {
  margin-top: 45px;
}

.mt-10 {
  margin-top: 50px;
}

.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-10 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mr-5 {
  margin-right: 25px;
}

.mr-6 {
  margin-right: 30px;
}

.mr-7 {
  margin-right: 35px;
}

.mr-8 {
  margin-right: 40px;
}

.mr-9 {
  margin-right: 45px;
}

.mr-10 {
  margin-right: 50px;
}

.ml-2 {
  margin-left: 10px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.mb-6 {
  margin-bottom: 30px;
}

.mb-7 {
  margin-bottom: 35px;
}

.mb-8 {
  margin-bottom: 40px;
}

.mb-9 {
  margin-bottom: 45px;
}

.mb-10 {
  margin-bottom: 50px;
}

.decoration-border {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #e7e749;
}

.border {
  height: 1px;
  background-color: #CFCFCF;
}

.border-none {
  border :none;
}

.rounded-circle {
  border-radius: 100%;
}

.circle:nth-child(1) {
  background: #FFFFFF;
}

.circle:nth-child(2) {
  background: #404040;
}

.circle:nth-child(3) {
  background: #C4C4C4;
}

.square:nth-child(1) {
  background: #C4C4C4;
}

.square:nth-child(2) {
  background: #D9EC00;
}

.square:nth-child(3) {
  background: #C4C4C4;
}

.border-top-secondary {
  border-top :1px solid #7e7b7b;
}

.border-bottom-secondary {
  border-bottom :1px solid #CFCFCF;
}

.border-bottom-dark {
  border-bottom: 1px solid #1D1D1D;
}

.border-warning {
  border: 1px solid #D9EC00; 
}

.border-left-warning {
  border: 1px solid #D9EC00; 
}

.border-right-warning {
  border: 1px solid #D9EC00; 
}

.border-top-warning {
  border: 1px solid #D9EC00; 
}

.border-bottom-warning {
  border: 1px solid #D9EC00; 
}

.border-white {
  border: 1px solid #ffffff; 
}

.border-secondary {
  border: 1px solid #CFCFCF;
}

.border-top-secondary {
  border-top: 1px solid #CFCFCF;
}

.border-bottom-secondary {
  border-bottom: 1px solid #CFCFCF;
}

.border-left-none {
  border-left: none;
}

.border-right-none {
  border-right: none;
}

.shop3Text {
  font-size: 18px;
}

.fw-bold {
  font-weight: bold;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fs-1 {
  font-size: 62px;
}

.fs-2 {
  font-size: 32px;
}

.fs-3 {
  font-size: 28px;
}

.fs-4 {
  font-size: 18px;
}

.fs-5 {
  font-size: 16px;
}

.fs-6 {
  font-size: 14px;
}

.fs-7 {
  font-size: 11px;
}

.cartHideText {
  font-size: 28px;
  font-family: 'Space Grotesk';
}

.cartHideTextSmall {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-family: 'Inter';
}

.letter-spacing-2 {
  letter-spacing: 2%;
}

.white {
  color: #fff;
}

.dark {
  color:#1D1D1D;
}

.black {
  color: #000000;
}

.secondary {
  color:rgba(163, 160, 160, 0.8);
}

.warning {
  color:#D9EC00;
}

.bg-dark {
  background-color:#1D1D1D;
}

.bg-black {
  background-color:#000000;
}

.bg-secondary {
  background-color:rgba(255, 255, 255, 0.8);
}

.bg-white {
  background-color:#ffffff;
}

.bg-warning {
  background-color:#D9EC00;
}

.bg-transparent {
  background-color: transparent;
}

.bg-orange {
  background-color: #CB5B1A;
}

.sliderBtnWrapper {
  position: absolute;
  bottom: 10%;
  width: 100%;
  z-index: 100;
}

.sliderBtnWrapper .btn {
  width: 15px;
  height: 15px;
  transition: all 0.5s ease-in-out;
}

.sliderBtnWrapper .btn:focus {
  background-color:#D9EC00;
}

.scrollContainer {
  display: flex;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  font-size: 2.2rem;
  box-sizing: border-box;
}

.scrollContainer p {
  font-size: 18px;
  font-weight: 700;
}

.qenjaScrollText {
  flex-shrink: 0;
  margin: 0;
  min-width: 100%;
  white-space: nowrap;
  margin: 0 4px;
  font-family: 'Inter', sans-serif;
  animation: qenjaTextScroll 120s linear infinite;
}

@keyframes qenjaTextScroll {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.medium-sub-text {
  font-size: 16px;
}

.item {
  padding: 5px;
  color:#1D1D1D; 
  font-weight: bold;
  white-space: nowrap;
}

.text {
  font-family: 'Inter';
}

.text-nowrap {
  white-space: nowrap;
}

.title {
  color: #FFFFFF;
  font-family: 'Inter';
}

.sub-text {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Inter';
}

.title-large {
  color: #ffffff;
  font-size: 62px;
  font-weight: 700;
  font-style: normal;
  font-family: space 'Grotesk';
  letter-spacing: 2px;
}

.btn {
  cursor: pointer;
  outline: none;
}

#footer .list-group-item {
  list-style: none;
}

.list-group-item .item {
  display: block;
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-family: 'Inter';
  line-height: 24px;
}

footer p {
  color: #000000;
  font-size: 16px;
  font-weight: 500 Medium;
  font-style: normal;
  font-family: 'Inter';
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.shopContainer .btn {
  border: none;
  font-family: 'Inter';
}

footer input[type=email] {
  border: none;
  border-bottom: 1px solid #1D1D1D;
}

.ShopWrapper .lg {
  border: 1px solid #A4A4A4;
}

.ShopWrapper .btn {
  padding: 14px 15px;
  color: #161616;
  border:none;
  font-size: 22px;
  font-weight: 400;
  font:'Inter';
}

.linkIcon {
  margin-right: 13px;
}

.shoppingButton {
  display: flex;
  align-items: center;
  background: #D9EC00;
}

input[type='radio'],
label {
  cursor: pointer;
}

input[type='radio'] {
  display:flex;
  justify-content: center;
  position: relative;
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  border-radius: 100%;
}

input[type='radio']::after {
  content: '';
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
}

.select-language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 228, 228);
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  bottom: 1px;
  width: 75%;
  height: 75%;
  border-radius: 100%;
  background-color: none;
  border: 2px solid #000;
}

input[type='radio']:checked {
  transform: scale(1.1);
}

.check,
label {
  cursor: pointer;
}

.check {
  position: relative;
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.check:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  background-color: yellow;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.checkWarning,
label {
  cursor: pointer;
}

.checkWarning {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: transparent;
  outline: none;
  visibility: visible;
}

.checkWarning::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #D9EC00;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.checkWarning:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
  transform: translate(-50%, -50%);
  visibility: visible;
  background-image: url('../img/checked.png');
  background-color: #D9EC00;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
}

.sizeText{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #1D1D1D;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Inter';
}

.checkboxText {
  font-size: 14px;
}

.l-spacing-2 {
  letter-spacing: 2%;
}

.scrollTextTransform {
  transform: rotate(1.5deg);
}

.t-rotate-20 {
  transform: rotate(-3deg);
}

.input-hide {
  color: #fff;
  padding: 17px;
  border: 1px solid rgb(207, 204, 204);
  border-radius: 10rem;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: transparent;
}

.input-hide::placeholder {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: Space Grotesk;
  letter-spacing: 2%;
}

.searchbtn.d-none {
  display: none !important;
}

.searchbtnbox.visiable {
  display: block !important;
}

.sizeText {
  z-index: 2;
}

.cartCount {
  bottom: 25px;
}

.btnChangeColor{
  background-color: #D9EC00;
  color: #000;
}

.qenjaImage{
  position: relative;
  width: 99%;
}

.scrollerBackground{
  width: 101%;
  height: 101%;
  position: absolute;
  z-index: 1000;
  overflow: hidden;
}

.tiltedScrollingTextContainer {
  display: flex;
  top:60%;
  left: 25%;
  position: absolute;
  font-family: 'Space Grotesk', sans-serif;
  font-weight:bold;
  text-transform:uppercase;
  color: #1D1D1D;
  font-size:35px;
  transform: rotate(-35deg);
  padding: 15px;
  overflow: hidden;
  background-color:#D9EC00;
  width: 101%;
}

.tiltedScrollingText {
  flex-shrink: 0;
  animation:tiltedScrollingText 60s linear infinite;
}

@keyframes tiltedScrollingText {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.scrollerBackshade1{
  position: absolute;
  width: 101%;
  height: 80px;
  top:30%;
  background-color: white;
  z-index: -100;
}

.scrollerBackshade2{
  position: absolute;
  width: 60px;
  height: 101%;
  left: 31%;
  background-color: white;
  z-index: -100;
}

.imgPaddingLeft {
  padding-left: 32px;
}

.aboutEmailLink {
  font-size: 91px;
}

.aboutBannerWrapper {
  padding: 50px 0;
}

.email-icon {
  width: 60px;
  height: 60px;
}

.inputOverText, .inputText {
  font-size: 18px;
}

.shopOverWrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.shopUnderTitle {
  margin-bottom: 25px;
}

.shopUnderText {
  margin-bottom: 25px;
}

.shopImgsWrapper {
  padding-top: 35px;
  padding-bottom: 35px;
}

.textareaWrapper {
  margin-bottom: 30px;
}

.block2 .btn {
  padding-top: 12px;
  padding-bottom: 12px;
}

.cartBox-title {
  margin-bottom: 30px;
}

.cartBox {
  margin-bottom: 30px;
}

.cartRowWrapper {
  padding-bottom: 50px;
}

@media (max-width: 1500px) {
  .cartBox-title {
    margin-bottom: 15px;
  }

  .cartBox {
    margin-bottom: 20px;
  }

  .cartFlexBlockWrapper {
    margin-bottom: 0;
  }

  .cartBlock2 {
    margin-bottom: 0;
  }

  .cartRowWrapper {
    padding-bottom: 0;
  }
}

@media (max-width: 1250px) {

  .radioCheckboxWrapper {
    max-width: 100%;
  }

  .slider-container {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 100%);
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    cursor: grab;
   }

  .slide {
    width: 100vw;
    user-select: none;
  } 

  .slide img {
    height: 100%;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
  }

  .categoryWrapper {
    margin-bottom: 20px;
  }

  .flex-Block-Wrapper {
    margin-bottom: 0;
  }

  .checkboxText {
    font-size: 12px;
  }

  .imgPaddingLeft {
    padding-left: 0;
  }

  .banner-text {
    margin: 0;
  }

  .aboutImageLeft {
    margin-bottom: 18px;
  }

  .abouttextMiddle {
    margin-bottom: 20px;
  }

  .textSizeSmall {
    font-size: 13px;
  }

  .shopOverWrapper{
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }

  .mt-sm-6 {
    margin-top: 30px;
  }

  .textareaWrapper {
    margin-bottom: 57px;
  }

  .block2 .btn{
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (max-width: 700px) {

  .success-title {
    font-size: 18px;
  }

  .success-icon{
    width: 100px;
  }

  .error-title {
    font-size: 18px;
  }

  .error-icon{
    width: 100px;
  }

  .cartHideText {
    font-size: 18px;;
  }

  .cartHideTextSmall {
    font-size: 13PX;
  }

  .mini-sub-text {
    font-size: 12px;
  }

  .shopImgsWrapper {
    padding-top: 5px;
  }

  .shopUnderTitle {
    margin-bottom: 7px;
  }

  .shopUnderText {
    margin-bottom: 12px;
  }

  .scrollerBackshade1 {
    top: 15%;
   }

   .scrollerBackshade2 {
    left: 15%;
   }

   .tiltedScrollingTextContainer {
     left: 15%;
   }

  .mb-xs-1 {
    margin-bottom: 5px;
  }

  .mb-xs-3 {
    margin-bottom: 15px;
  }

  .mb-xs-4 {
    margin-bottom: 20px;
  }

  .mb-xs-8 {
    margin-bottom: 40px;
  }

  .mt-xs-6 {
    margin-top: 30px;
  }

  .px-xs-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .pt-xs-0 {
    padding-top: 0;
  }

  .pt-xs-3 {
    padding-top: 15px;
  }

  .pt-xs-4 {
    padding-top: 20px;
  }

  .pt-xs-6 {
    padding-top: 30px;
  }

  .pb-xs-9 {
    padding-bottom: 45px;
  }

  .pb-xs-4 {
    padding-bottom: 20px;
  }

  .sm-pb-4 {
    padding-bottom: 20px;
  }

  .fs-xs-4 {
    font-size: 18px;
  }

  .title-large {
    font-size: 32px;
  }

  .landingTxtOverBanner {
    font-size: 18px;
  }

  .banner {
    margin-bottom: 20px;
  }

  .aboutEmailLink {
    font-size: 41px;
  }

  .aboutBannerWrapper {
    padding: 0;
    margin-bottom: 11px;
  }

  .aboutBanner {
    margin: 0;
  }

  .aboutBannerOverText {
    margin-bottom: 40px;
  }

  .email-icon {
    width: 40px;
    height: 40px;
  }

  .shop3Text {
    font-size: 13px;
  }

  .inputOverText, .inputText {
    font-size: 14px;
  }

  input[type='radio'] {
    width: 20px;
    height: 20px;
  }

  input[type='radio']:checked::after {
    bottom: 5%;
    width: 70%;
    height: 70%;
  }

  .check {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  .check:checked::after {
    width: 20px;
    height: 20px;
  }

  .sizeText {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .tiltedScrollingTextContainer {
    padding: 8px;
    font-size: 30px;
  }
}

@media (max-width: 1250px) {
  .shopBlock2 {
    max-width: 100%;
  }
  .header-small {
    display: block;
  }

  .header-large {
    display: none;
  }

  .block1 {
    padding-left: 0;
    padding-right: 0;
  }

  .block2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 330px) {
  .small-sub-text {
    font-size: 12px;
  }

  .mini-sub-text {
    font-size: 10px;
  }
}

@media (min-width: 280px) {
 
  .xs {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .xs-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .xs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .xs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .xs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .xs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .xs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .xs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .xs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .xs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .xs-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .hide-xs {
    display: none !important; }
  .show-xs {
    display: block !important; } 
  .show-xs-flex {
    display: flex !important; } 

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  footer p {
    justify-content: center;
  }

  .justify-content {
    justify-content: flex-start;
  }

  footer .row {
    justify-content: space-between;
  }

  .title-large {
    font-size: 32px;
  }

  .text-middle {
    font-size: 18px;
  }

  /*.flex-Block-Wrapper {
    display: block;
  }
*/
  .block1-content, .block2-content {
    padding: 0 20px;
  }

  .cartBlock1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .cartBlock2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .cartFlexBlockWrapper {
    display: block;
  }

  .flex-Block-Wrapper {
    display: block;
  }

  .BannerWrapperMiddle {
    max-width: 100%;
  }
}

@media (min-width: 700px) {
  .sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .hide-sm {
    display: none !important; }
  .show-sm {
    display: block !important; } 

  .show-sm-flex {
    display: flex !important; } 

  footer .row {
    justify-content: center;
  }

  .justify-content {
    justify-content: center; } 

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .text-middle {
    font-size: 28px;
  }

  .title-large {
    font-size: 62px;
  }

  .block1, .block2 {
    margin-left: auto;
    margin-right: auto;
  }

  .block1-content {
    padding: 0;
  }

  .block2-content {
    padding: 0;
  }
}

@media (min-width: 1250px) {
  .md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .hide-md {
    display: none !important; }
  .show-md {
    display: block !important; }

  .show-md-flex {
    display: flex !important; }

  .flex-Block-Wrapper {
    display: flex;
  }

  .block1, .block2 {
    margin: 0;
  }

  .block1 {
    padding-right: 45px;
  }

  .block2 {
    padding-left: 45px;
  }

  .BannerWrapperMiddle {
    width: 90%;
  }

  .px-md-9 {
    padding-left: 45px;
    padding-right: 45px;
  }

}

@media (min-width: 1500px) {
  .xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.3333333333%;
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }
  .xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.6666666667%;
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }
  .xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }
  .xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }
  .xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }
  .xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }
  .xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.3333333333%;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }
  .xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.6666666667%;
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }
  .xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .hide-xl {
    display: none !important; }
  .show-xl {
    display: block !important; }

  .show-xl-flex {
    display: flex !important; }

  .cartFlexBlockWrapper {
    display: flex; }

  .cartBlock1 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .cartBlock2 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  .px-xl-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .px-xl-10 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

    @media (min-width: 1900px) {
    .xxl {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%; }
    .xxl-auto {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: auto;
      max-width: 100%; }
    .xxl-1 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%; }
    .xxl-2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%; }
    .xxl-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; }
    .xxl-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%; }
    .xxl-5 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%; }
    .xxl-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; }
    .xxl-7 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%; }
    .xxl-8 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%; }
    .xxl-9 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%; }
    .xxl-10 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%; }
    .xxl-11 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%; }
    .xxl-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; }
    .hide-xxl {
      display: none !important; }
    .show-xxl {
      display: block !important; } 
  
    .show-xxl-flex {
      display: flex !important; }
    } 

  @media (max-width: 1250px) {
    .footer-hidden {
      display: block !important;
    }

    .footer-large-show {
      display: none !important;
    }

    .px-sm-0 {
      padding-left: 0;
      padding-right: 0;
    }

    .px-sm-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  

  

  

   

 





























